In [4]:
import pandas

df = pandas.read_csv('users.csv')
df.dropna(axis=1, inplace=True, how='all')
print(df.columns)
df[df['Work Secondary Email'].notnull()]

Index(['First Name [Required]', 'Last Name [Required]',
       'Email Address [Required]', 'Password [Required]',
       'Org Unit Path [Required]', 'Work Secondary Email',
       'Recovery Phone [MUST BE IN THE E.164 FORMAT]', 'Work Phone',
       'Change Password at Next Sign-In',
       'Advanced Protection Program enrollment'],
      dtype='object')

,First Name [Required],Last Name [Required],Email Address [Required],Password [Required],Org Unit Path [Required],Work Secondary Email,Recovery Phone [MUST BE IN THE E.164 FORMAT],Work Phone,Change Password at Next Sign-In,Advanced Protection Program enrollment
896,RECTORIA,IE GERARDO VALENCIA CANO,rectoria@iegerardovalencia.edu.co,****,/,akrosacademico@gmail.com,NaN,3.127698e+09,False,False

In [3]:
df.head()

,First Name [Required],Last Name [Required],Email Address [Required],Password [Required],Org Unit Path [Required],Work Secondary Email,Recovery Phone [MUST BE IN THE E.164 FORMAT],Work Phone,Change Password at Next Sign-In,Advanced Protection Program enrollment
0,Aaron Zaid,Pino Cordoba,aaron.pinoc@iemonsegerardovalencia.edu.co,****,/,NaN,NaN,NaN,True,False
1,Abel Jacobo,Valencia Betancur,abel.valenciab@iemonsegerardovalencia.edu.co,****,/,NaN,NaN,NaN,True,False
2,Abraham Eduardo,Bastidas Cova,abraham.bastidasc@iemonsegerardovalencia.edu.co,****,/,NaN,NaN,NaN,True,False
3,Abraham Josue,Suarez Carrasco,abraham.suarezc@iemonsegerardovalencia.edu.co,****,/,NaN,NaN,NaN,True,False
4,Adelaida Mar a,Saldarriaga Mu oz,adelaida.saldarriaga@iemonsegerardovalencia.ed...,****,/,NaN,NaN,NaN,True,False

In [7]:
3//2

1