In [2]:
import pandas

downloaded = pandas.read_csv('users.csv')
downloaded.dropna(axis=1, inplace=True, how='all')
print(downloaded.columns)
downloaded[downloaded['Work Secondary Email'].notnull()]

Index(['First Name [Required]', 'Last Name [Required]',
       'Email Address [Required]', 'Password [Required]',
       'Org Unit Path [Required]', 'Work Secondary Email',
       'Recovery Phone [MUST BE IN THE E.164 FORMAT]', 'Work Phone',
       'Change Password at Next Sign-In',
       'Advanced Protection Program enrollment'],
      dtype='object')

,First Name [Required],Last Name [Required],Email Address [Required],Password [Required],Org Unit Path [Required],Work Secondary Email,Recovery Phone [MUST BE IN THE E.164 FORMAT],Work Phone,Change Password at Next Sign-In,Advanced Protection Program enrollment
896,RECTORIA,IE GERARDO VALENCIA CANO,rectoria@iegerardovalencia.edu.co,****,/,akrosacademico@gmail.com,NaN,3.127698e+09,False,False

In [3]:
downloaded.head()

,First Name [Required],Last Name [Required],Email Address [Required],Password [Required],Org Unit Path [Required],Work Secondary Email,Recovery Phone [MUST BE IN THE E.164 FORMAT],Work Phone,Change Password at Next Sign-In,Advanced Protection Program enrollment
0,Aaron Zaid,Pino Cordoba,aaron.pinoc@iemonsegerardovalencia.edu.co,****,/,NaN,NaN,NaN,True,False
1,Abel Jacobo,Valencia Betancur,abel.valenciab@iemonsegerardovalencia.edu.co,****,/,NaN,NaN,NaN,True,False
2,Abraham Eduardo,Bastidas Cova,abraham.bastidasc@iemonsegerardovalencia.edu.co,****,/,NaN,NaN,NaN,True,False
3,Abraham Josue,Suarez Carrasco,abraham.suarezc@iemonsegerardovalencia.edu.co,****,/,NaN,NaN,NaN,True,False
4,Adelaida Mar a,Saldarriaga Mu oz,adelaida.saldarriaga@iemonsegerardovalencia.ed...,****,/,NaN,NaN,NaN,True,False

In [29]:
created = pandas.read_csv('new_students.csv')
created

,First Name [Required],Last Name [Required],Email Address [Required],Org Unit Path [Required],Password [Required],Change Password at Next Sign-In
0,Maily,Garcia Saldarriaga,maily.garcias@iegerardovalencia.edu.co,/,1025905634,True
1,Elianna Valentina,Lindarte Quiroz,elianna.lindarteq@iegerardovalencia.edu.co,/,6854109,True
2,Xavi Alonso,Medina Bravo,xavi.medinab@iegerardovalencia.edu.co,/,1021942464,True
3,Alan,Pacheco Ortiz,alan.pachecoo@iegerardovalencia.edu.co,/,1011519316,True
4,Angel Gabriel,Rivera Landaeta,angel.riveral@iegerardovalencia.edu.co,/,37596533507,True
...,...,...,...,...,...,...
278,Jacobo,Herrera Lopez,jacobo.herreral@iegerardovalencia.edu.co,/,1013369646,True
279,Sharlott,Herrera Lopez,sharlott.herreral@iegerardovalencia.edu.co,/,1023652453,True
280,Karla,Gomez Lopez,karla.gomezl@iegerardovalencia.edu.co,/,1025900011,True
281,Tiffany,Goez Grisales,tiffany.goezg@iegerardovalencia.edu.co,/,1023534442,True
282,Estephanie Yenibeth,Palmar Datica,estephanie.palmard@iegerardovalencia.edu.co,/,6736834,True

In [19]:
created['Full Name'] = created['First Name [Required]'] + ' ' + created['Last Name [Required]']
downloaded['Full Name'] = downloaded['First Name [Required]'] + ' ' + downloaded['Last Name [Required]']

setCreated = set(created['Full Name'])
setDownloaded = set(downloaded['Full Name'])

difference = setCreated.symmetric_difference(setDownloaded)

# Convert the difference back to a DataFrame for better readability
difference_df = pandas.DataFrame(difference, columns=['Full Name'])
difference_df

                               Full Name
0     Gregorio Emanuel Guerrero Sandoval
1             I.E. Gerardo Valencia Cano
2         Dulce Maria Castrillon Morales
3     Leonelis Victoria Fernandez Araujo
4                 Mariangel Avila Cortes
...                                  ...
1546                   Esteban Soto Juan
1547          Juan Felipe Berrocal Genes
1548      Roiner Santiago Carrillo Riera
1549         Hanna Isabella Algarin Diaz
1550             Allison Garcia Mosquera

[1551 rows x 1 columns]

In [26]:
report = pandas.read_csv('Upload_17012025_101511.log', delimiter=':', names=['index', 'email', 'status', 'error'])
report.set_index('index', inplace=True)
report[report['error'].notnull()]

In [7]:
df = pandas.read_csv('out/new_students_lola.csv')
df.drop(columns=['Change Password at Next Sign-In', 'Org Unit Path [Required]'], inplace=True)
df.columns = ['Nombres', 'Apellidos', 'Correo', 'Contraseña' ]
df.to_excel('out/estudiantes lola.xlsx', index=False)
df

,Nombres,Apellidos,Correo,Contraseña
0,Fabiana Sophia,Franco Flores,fabiana.francof@lola.edu.co,FFFS0003364877
1,Axel Alejandro,La Rosa Arteaga,axel.lara@lola.edu.co,LRAAA0006580510
2,Arian Alejandro,La Rosa Arteaga,arian.lara@lola.edu.co,LRAAA0006580574
3,Maria Fernanda,Ulloa Muñoz,maria.ulloam@lola.edu.co,UMMF0007485044
4,Ana Gabriela,Gutierrez Romero,ana.gutierrezr@lola.edu.co,GRAG006523193
...,...,...,...,...
2323,Zaily Anginell,Chindemi Medina,zaily.chindemim@lola.edu.co,CMZA37596196977
2324,Victor Manuel,Blanco Lugo,victor.blancol@lola.edu.co,BLVM37596197991
2325,Fabian Gustavo,Martinez Medina,fabian.martinezm@lola.edu.co,MMFG37596854071
2326,Camile Fiorella,Martinez Medina,camile.martinezm@lola.edu.co,MMCF37596855946
2327,Luis Yair,Vallenilla Tovar,luis.vallenillat@lola.edu.co,VTLY74725857806